/* Responsive */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 1024px) {
    .content .section-main {
        width: 100%;
        padding: 0 20px;
    }

    .content .decor-list {
        flex-direction: column;
    }

    .content-contact .contact-list {
        display: block;
    }

    .content-section .bg-box,
    .content-img .bg-box {
        flex-direction: column;
    }

    .content-img .bg-text-box {
        order: 1;
    }

    .content-img .bg-section {
        order: 0;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 740px) {
    /* Header */
    .header .nav {
        display: block;
    }
    
    /* Header Menu */
        #header .mobile-menu-btn {
        display: flex;
    }

    /* Main */
    .slider .text-heading {
        font-size: 18px;
        letter-spacing: 12px;
    }

    .slider .text-description {
        font-size: 12px;
        letter-spacing: 8px;
    }

    .content .decor-item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content .decor-link {
        width: 100%;
        height: 100%;
    }

    .content .decor-item {
        width: 100%;
    }

    .content .decor-btn {
        width: 100%;
    }

    .content-section .bg-section,
    .content-img .bg-section {
        height: 300px;
    }

    .content-section .bg-box,
    .content-img .bg-box {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-section .bg-text,
    .content-img .bg-text {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 4px;
    }

    .content-section .bg-subtext,
    .content-img .bg-subtext {
        font-size: 18px;
    }

    .content-section .bg-text-section,
    .content-img .bg-text-section {
        font-size: 14px;
    }

    .content-section .bg-button,
    .content-img .bg-button {
        padding: 20px;
    }

    /* Form Đăng kí */
    .form-input .form-box {
        margin-bottom: 100px;
    }
}

/* Tablet 740px <= width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .slider .text-heading {
        font-size: 30px;
        letter-spacing: 15px;
    }

    .slider .text-description {
        font-size: 16px;
        letter-spacing: 10px;
    }
    
    .content .section-main {
        padding: 0 40px;
    }

    .content-contact .contact-list {
        padding-left: 40px;
        padding-right: 40px;
    }

    .content-contact .contact-intro, 
    .content-contact .contact-address, 
    .content-contact .contact-email, 
    .content-contact .contact-follow {
        margin: 0 0 40px 0;
    }

    .content .decor-item{
        padding: 0 40px;
    }

    .content .decor-link {
        width: 100%;
        height: 100%;
    }

    .content .decor-btn {
        width: 100%;
    }
    
    .content-section .bg-box,
    .content-img .bg-box {
        padding-left: 40px;
        padding-right: 40px;
    }

    .content-img .bg-text,
    .content-section .bg-text {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 4px;
    }

    .content-img .bg-subtext,
    .content-section .bg-subtext {
        font-size: 20px;
    }

    .content-img .bg-text-section,
    .content-section .bg-text-section {
        font-size: 16px;
    }
    
    .content-section .bg-section,
    .content-img .bg-section {
        height: 500px;
    }
}